.container {
  display: flex;
  height: 600px;
  width: auto;
  align-items: center;
  justify-content: center;
}

button {
  height: 40px;
  width: 100px;
  background-color: blue;
  color: white;
  font-size: large;
}
